/*fonts define start*/

@font-face {font-family: "iconfont";
    src: url('../stylesheets/font/iconfont.eot?t=1474269605'); /* IE9*/
    src: url('../stylesheets/font/iconfont.eot?t=1474269605#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../stylesheets/font/iconfont.woff?t=1474269605') format('woff'), /* chrome, firefox */
    url('../stylesheets/font/iconfont.ttf?t=1474269605') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../stylesheets/font/iconfont.svg?t=1474269605#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-i:before { content: "\e629"; }
.icon-backspace:before { content: "\e62a"; }


/*fonts define end*/


body {
  padding: 50px;
  font: 12px "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

body *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a {
  color: #00B7FF;
}

/*全局样式.g*/
.g-ta-center {
    text-align: center;
}
.g-ta-left {
    text-align: left;
}
.g-ta-right {
    text-align : right;
}
.g-f-l{
    float:left;
}
.g-f-r{
    float:right;
}
.g-hide{
    display:none!important;
}
.g-show{
    display:block!important;
}
