body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a {
  color: #00B7FF;
}

/*全局样式.g*/
.g-ta-center {
    text-align: center;
}
.g-ta-left {
    text-align: left;
}
.g-ta-right {
    text-align : right;
}
